name: Pull Request

on:
  push:

jobs:
  inclusive-naming:
    name: Inclusive naming
    uses: canonical/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "false"

  codeql:
    name: CodeQL analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  code-checks:
    name: Code Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y python3-pip tox
            pip install poetry==2.2.1
      - name: Check Code
        run: make check-code

  alert-test:
    name: Test Prometheus Alert Rules
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install prometheus snap
        run: sudo snap install prometheus
      - name: Check validity of prometheus alert rules
        run: promtool check rules src/prometheus_alert_rules/*
      - name: Run unit tests for prometheus alert rules
        run: promtool test rules tests/alerts/*.yaml

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y python3-pip tox
            pip install poetry==2.2.1
      - name: Run Unit Tests
        run: make check-unit

  pack-microovn:
    name: Pack MicroOVN charm
    uses: ./.github/workflows/_build_charm.yaml
    with:
      path-to-charm-directory: .

  pack-interface-consumer:
    name: Pack interface consumer charm
    uses: ./.github/workflows/_build_charm.yaml
    with:
      path-to-charm-directory: tests/interface-consumer
      pre-pack-hook: make charm-libs

  setup:
    name: Setup tests
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.discover.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-venv jq python3-pip
          pip install poetry==2.2.1
      - name: Discover individual tests
        id: discover
        run: |
          make .venv
          tests=$(.venv/bin/pytest -q --collect-only tests/integration/ | grep ::test_ | jq -R -s -c 'split("\n")[:-1]')
          echo $tests
          echo "matrix={\"test\":$tests}" >> $GITHUB_OUTPUT

  test:
    name: Run integration tests
    runs-on: ubuntu-latest
    needs:
      - pack-microovn
      - pack-interface-consumer
      - setup
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          path: ./charms

      - name: Set charm paths
        run: |
          # Find each charm file by its expected prefix
          MICROOVN_CHARM_PATH=$(find ./charms -type f -name 'microovn_*.charm' -print -quit)
          INTERFACE_CONSUMER_CHARM_PATH=$(find ./charms -type f -name 'interface-consumer_*.charm' -print -quit)

          echo "MICROOVN_CHARM_PATH=$MICROOVN_CHARM_PATH" >> $GITHUB_ENV
          echo "INTERFACE_CONSUMER_CHARM_PATH=$INTERFACE_CONSUMER_CHARM_PATH" >> $GITHUB_ENV

          echo "MicroOVN charm: $MICROOVN_CHARM_PATH"
          echo "Interface consumer charm: $INTERFACE_CONSUMER_CHARM_PATH"

      - name: Install dependencies
        run: |
          sudo snap install concierge --classic
          sudo apt-get update
          sudo apt-get install -y python3-pip tox
          pip install poetry==2.2.1

      - name: Prepare Environment
        run: |
          cat <<EOF > /tmp/concierge.yaml
          juju:
            channel: 3.6/stable

          providers:
            microk8s:
              enable: true
              bootstrap: true
              addons:
                - dns
                - hostpath-storage
                - metallb

            lxd:
              enable: true
              bootstrap: true
          EOF

          sudo concierge prepare -c /tmp/concierge.yaml

      - name: Run tests
        run: make check-integration TESTSUITEFLAGS="${{ matrix.test }}"
